* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: rgb(247, 190, 83);
}

body {
  background-color: var(--primary-color);
}

#image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section h2 {
  padding: 1rem;
}

/* header */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_wrapper {
  height: 5rem;
  width: 5rem;
}

#logo_name {
  font-weight: bold;
  color: white;
  font-size: xx-large;
  padding: 0.5rem;
}

.navigation_options span {
  color: white;
  padding: 0.5rem;
}

/* hero_section */

.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_wrapper {
  width: auto;
  height: 25rem;
  flex: 1;
}

.hero_text_container {
  position: absolute;
  background: rgba(0, 0, 0, 0.534);
  padding: 3rem 5rem;
}

.hero_text_container p {
  color: white;
}

/* receipies_section */

.recipies_section {
  padding: 1rem;
}

.recepie_card {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.card_image_wrapper {
  height: 8.5rem;
  width: 15rem;
  margin: 1rem;
}

.card_description {
  margin: 1rem;
}

/* recommended_section */

.recommended_section {
  background-color: white;
}

.recommended_recipies_container {
  display: flex;
  flex-wrap: wrap;
}

.reco_recipie_card {
  height: auto;
  width: 18rem;
  border-radius: 1.2rem;
  margin: 1rem;
  padding-bottom: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

.reco_recipie_image_wrapper {
  height: 10rem;
  width: 100%;
}

.reco_recipie_image_wrapper img {
  border-radius: 1.2rem 1.2rem 0 0;
}

.reco_recipie_description > * {
  padding: 1rem;
}

.reco_recipie_description button {
  width: 80%;
  margin-left: 1rem;
}

/* subscribe_section */
.subscribe_section {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe_container form > * {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

/* footer_section */
.footer_section {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5rem;
}
