:root {
  --background-color: rgb(245,245,247);
  --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 1fr 40rem 4fr 3fr 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "header header"
  "hero hero"
  "blogs filter"
  "recommendation recommendation"
  "subscribe subscribe"
  "footer footer";
}

.header{
  grid-area: header;
  display: flex;
  align-items: center;
  
}
.hero{
  grid-area: hero;
  display: flex;
  align-items:  center;
  background: url(./assets/green-pasta-with-tomato.jpg) no-repeat center;
  background-size: cover;

}
.blogs{
  grid-area: blogs;

}
.filter{
  grid-area: filter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}
.recommendation{
  grid-area: recommendation;
  padding: 2rem;

}
.subscribe{
  grid-area: subscribe;
  background-color: rebeccapurple;

}
.footer{
  grid-area: footer;
  background-color: blueviolet;

}

 ul li{
  list-style: none;
  font-family: Comfortaa;
 }

 p{
  margin-top: 1rem;
  line-height: 2rem;
  font-size: large;
 }

 h2{
  padding: 2rem 0 0 2rem;
 }
/* header section */
.social-media{
  flex-basis: 20%;
  padding: 1rem;
  font-size: small;
}
.social-media>ul>*{
  margin: 0 0.2rem;
}

.nav-menu ul{
  display: flex;
  align-items: center;
}

.nav-menu ul>*{
  padding: 0.5rem 1rem;
  font-size: small;
}

.nav-menu-logo{
  font-size: x-large !important;
  margin: 0 1.5rem;
}


/* hero-section */


.hero-description{
 height: 40%;
 width: 40rem;
 background-color: var(--background-color);
 border-radius: 2rem;
 margin-left: 2rem;
 padding: 2rem;
  
}

/* blogs-section */


.blog-card{
  margin: 2rem;
  display: flex;
  box-shadow: var(--box-shadow);
  flex-wrap: wrap;
  align-items: center;
}

.blog-card img{
  height: 15rem;
  flex-basis: 30%;
  
}

.blog-description{
padding: 2rem;
flex-basis: 70%;
}


/* filter-section */
.filter-by-dish{
  margin-top: 3rem;
}
.filter-by-dish,.filter-by-country{
  box-shadow: var(--box-shadow);
  padding: 2rem;
  line-height: 3rem;
}

/* recommendation-section */
.recommendation h2{
  padding: 0rem;
}
.recommendation-container{
padding-top: 2rem;
display: flex;
flex-wrap: wrap;
gap: 5rem;
}

.recommendation-card{
width: 20rem;
height: 40rem;
box-shadow: var(--box-shadow);
}

.recommendation-description{
  padding: 1rem;
}

.recommendation-card img{
  height: 20rem;
  width: 20rem;
}
