:root {
  --background-color: rgb(245,245,247);
  --card-background:#EEF2F7;
  --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
  --box-shadow-elevated: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 0.1fr 40rem 1fr 1.8fr 10rem 7rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "header header"
  "hero hero"
  "blogs filter"
  "recommendation recommendation"
  "subscribe subscribe"
  "footer footer";
}

.header{
  grid-area: header;
  display: flex;
  align-items: center;
  
}
.hero{
  grid-area: hero;
  display: flex;
  align-items:  center;
  background: url(./assets/green-pasta-with-tomato.jpg) no-repeat center;
  background-size: cover;

}
.blogs{
  grid-area: blogs;
  background-color: var(--card-background);
  box-shadow: var(--box-shadow-elevated);
  border-radius: 2rem;
  margin: 2rem;


}
.filter{
  grid-area: filter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  
}

.recommendation{
  grid-area: recommendation;
  padding: 2rem;
  background-color: var(--card-background);
  box-shadow: var(--box-shadow-elevated);
  border-radius: 2rem;
  margin: 2rem;

}
.subscribe{
  grid-area: subscribe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  grid-area: footer;
  background-color: black;
  color: white;
  
}

 ul li{
  list-style: none;
  font-family: Comfortaa;
 }

 p{
  margin-top: 1rem;
  line-height: 2rem;
  font-size: large;
 }

 h2{
  padding: 2rem 0 0 2rem;
 }
/* header section */
.social-media{
  flex-basis: 20%;
  padding: 1rem;
  font-size: small;
}
.social-media>ul>*{
  margin: 0 0.2rem;
}

.nav-menu ul{
  display: flex;
  align-items: center;
}

.nav-menu ul>*{
  padding: 0.5rem 1rem;
  font-size: small;
}

.nav-menu-logo{
  font-size: x-large !important;
  margin: 0 1.5rem;
}


/* hero-section */


.hero-description{
 height: 40%;
 width: 40rem;
 background-color: var(--background-color);
 border-radius: 2rem;
 margin-left: 2rem;
 padding: 2rem;
  
}

/* blogs-section */


.blog-card{
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blog-card img{
  height: 15rem;
  flex-basis: 30%;
  
}

.blog-description{
padding: 2rem;
flex-basis: 70%;
}


/* filter-section */
.filter-by-dish{
  margin-top: 3rem;
}
.filter-by-dish,.filter-by-country{
  padding: 2rem;
  line-height: 3rem;
  background-color: var(--card-background);
  box-shadow: var(--box-shadow-elevated);
  border-radius: 2rem;
  margin: 2rem;

}

/* recommendation-section */
.recommendation h2{
  padding: 0rem;
}
.recommendation-container{
padding-top: 2rem;
display: flex;
flex-wrap: wrap;
gap: 5rem;
justify-content: space-evenly;
}

.recommendation-card{
width: 20rem;
height: 40rem;
}

.recommendation-description{
  padding: 1rem;
}

.recommendation-card img{
  height: 20rem;
  width: 20rem;
}

/* subscribe-section */
.subscribe-container{
  box-shadow: var(--box-shadow-elevated);
  background-color: var(--card-background);
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  padding: 1rem 1rem 1rem 5rem;
}

.subscribe-container>form>input{
  line-height: 3rem;
  margin: 0.5rem;
}
.subscribe-container button{
  background-color: black;
  color: white;
  padding: 1rem;
}

.subscribe-container p{
  margin-right: 5rem;
}

/* footer-section */
.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.footer-container >.social-media{
  text-align: right;
  font-size: large;
  }
