:root {
  --background-color: rgb(245,245,247)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 1fr 4fr 5fr 4fr 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "header header"
  "hero hero"
  "blogs filter"
  "recommendation recommendation"
  "subscribe subscribe"
  "footer footer";
}

.header{
  grid-area: header;
  display: flex;
  align-items: center;
  
}
.hero{
  grid-area: hero;

}
.blogs{
  grid-area: blogs;
  background-color: beige;

}
.filter{
  grid-area: filter;
  background-color: darkblue;
}
.recommendation{
  grid-area: recommendation;
  background-color: gainsboro;

}
.subscribe{
  grid-area: subscribe;
  background-color: rebeccapurple;

}
.footer{
  grid-area: footer;
  background-color: blueviolet;

}
 ul li{
  list-style: none;
  font-family: Comfortaa;
 }

/* header section */
.social-media{
  flex-basis: 20%;
  padding: 1rem;
  font-size: small;
}
.social-media>ul>*{
  margin: 0 0.2rem;
}

.nav-menu ul{
  display: flex;
  align-items: center;
}

.nav-menu ul>*{
  padding: 0.5rem 1rem;
  font-size: small;
}

.nav-menu-logo{
  font-size: x-large !important;
  margin: 0 1.5rem;
}


.reco_recipie_card {
 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}
